@{
    ViewBag.Title = "Music Streaming Site";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Welcome to our Music Service Website
            </p>
        </div>
    </section>
}
@if (!Request.IsAuthenticated) {
<h3>Features of our site:</h3>
<ol class="round">
    <li class="one">
        <h5>Upload your music</h5>
        Share your music to everyone and get feedback on your work.
    </li>

    <li class="two">
        <h5>Listen to music</h5>
        Find your new favourite song, search for new artists.
    </li>

    <li class="three">
        <h5>Create playlist</h5>
        Build playlists of your favourite songs and organize them however you like.
    </li>
</ol>
}
else
{
    <h3>What would you like to do?</h3>
    <div style="width:33%; height:100%; float:left;">
        <h5>Upload your music</h5>
        <a href='@Url.Action("Upload", "Media")'>
            <img src='@Url.Content("~/Images/Upload.jpg")' width="50" height="50" />
        </a>
    </div>
    <div style="width:33%; height:100%; float:left;">
        <h5>Listen to music</h5>
        <a href='@Url.Action("BrowseMusic", "Media")'>
            <img src='@Url.Content("~/Images/listen.jpg")' width="50" height="50" />
        </a>
    </div>
    <div style="width:33%; height:100%; float:left;">
        <h5>Create Playlists</h5>
        <a href='@Url.Action("CreatePlaylist", "Media")'>
            <img src='@Url.Content("~/Images/playlist.jpg")' width="50" height="50" />
        </a>
    </div>
    
}