@model IEnumerable<project.Models.PlayList>

@{
    ViewBag.Title = "MyPlayList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyPlayList</h2>
<h3>@ViewBag.error</h3>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaylistName)
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {
        if (item.UserId == Convert.ToString(Membership.GetUser().ProviderUserKey))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaylistName)
                </td>
                <td>
                    @Html.ActionLink("Listen to " + item.PlaylistName,
                "PlayList",   // <-- ActionMethod
                "Media",  // <-- Controller Name.
                new { item.Id }, // <-- Route arguments.
                null  // <-- htmlArguments .. which are none. You need this value
                //     otherwise you call the WRONG method ...
                //     (refer to comments, below).
                )
                </td>
                <td>
                @if (item.SongsID == null)
                {
                    <div>Number Of Songs in Playlist: 0</div>
                }
                else
                {
                    <div>Number Of Songs in Playlist: @item.SongsID.Split(',').Count()</div>
                }
                </td>
            </tr>

        }
    }

</table>